/* Estilo geral para a página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    color: #0056b3;
}

/* Container para o input e o botão */
.input-container {
    display: flex;
    margin-bottom: 20px;
}

#task-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; /* Cantos arredondados só na esquerda */
    width: 300px;
}

#add-task-btn {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0; /* Cantos arredondados só na direita */
}

#add-task-btn:hover {
    background-color: #0056b3;
}

/* Estilo da lista de tarefas */
#task-list {
    list-style-type: none; /* Remove os pontinhos da lista */
    padding: 0;
    width: 380px;
}

/* Estilo para um item da lista concluído */
.task-list-item.completed {
    text-decoration: line-through; /* Adiciona uma linha no meio do texto */
    color: #888; /* Deixa o texto cinza */
    cursor: default;
}

/* Estilo para um item da lista normal */
.task-list-item {
    display: flex; /* Adicionado */
    justify-content: space-between; /* Adicionado */
    align-items: center; /* Adicionado */
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.task-list-item:hover {
    background-color: #f0f0f0;
}

.delete-btn {
    background-color: #dc3545; /* Vermelho */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333; /* Vermelho mais escuro */
}